@{
    ViewData["Title"] = "Home Page";
}
<h2>
    <span class="glyphicon glyphicon-eye-close"></span>
    There is nothing to display yet
</h2>
<img src="~/images/application-ad.png" width="500px" height="500px" />
